.test .a {
	padding: 40px;
	.bad {
		bottom: 4px;
        content:'file: /home/fanrong/funlog/test/file/test.css, line: 5';
        content:'file: /home/fanrong/funlog/test/file/test.css, line: 6';
        content:'file: /home/fanrong/funlog/test/file/test.css, line: 7';
        content:'file: /home/fanrong/funlog/test/file/test.css, line: 8';
	}
    content:'file: /home/fanrong/funlog/test/file/test.css, line: 6';
    content:'file: /home/fanrong/funlog/test/file/test.css, line: 8';
    content:'file: /home/fanrong/funlog/test/file/test.css, line: 10';
    content:'file: /home/fanrong/funlog/test/file/test.css, line: 12';
}
